@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
 
*{
  font-family: 'Outfit';
  box-sizing: border-box;
}
#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #10141e;
}
